/* body {
    position: relative;
} */

div {
    position: relative;
    background-color: chartreuse;
    /* top: 5px; */
    /* bottom: 5px; */
    /* left: 5px; */
    /* right: 5px; */
    /* inset: 5px; */
    /* position: static;
    top: 100px;
    left: 50px; */
    position: unset;
}

ul {
    position: relative;
    background-color: brown;
    height: 300px;
    /* overflow-y: scroll; */
}

.html-element {
    /* position: relative; */
    position: sticky;
    top: 25px;
    left: 50px;
    background-color: darkkhaki;
}

.css-element {
    background-color: aquamarine;
    position: absolute;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* inset: 5px; */
    /* top: 0;
    left: 0;
    right: 0; */
    /* bottom: 0; */
    top: 56px;
    left: 5px;
    right: 5px;
}

.js-element {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    /* inset: 0; */
    /* inset: 10px; */

}