/* #html {
    background-color: chartreuse !important;
}

#html.html {
    background-color: darkmagenta;
} */

/* #html {
    background-color: deeppink;
}



.html {
    background-color: cadetblue;
}

li {
    font-weight: 400;
    background-color: green;
    color: aquamarine;
}

li {
    font-weight: 500;
    background-color: orange;
}
li {
    font-weight: 700;
    background-color: cornflowerblue;
    color: rgb(109, 7, 7);
}

.html {
    background-color: crimson;
} */